@import 'vendors/_bootstrap.scss';

/* Vars */
$primary-color: #3b5a76;
$background-color: #ededed;
$text-color: #363636;
$font: 16px;

body{
	padding-bottom: 0;
	font-family: 'Open Sans', Arial, Tahoma;
	color: $text-color;
	background: $background-color;
	font-size: $font;
}

h2 {
	font-weight: 700;
	text-transform: uppercase;
	line-height: 1.4em;
	font-size: 1.5em;
}

section {
	margin-top: 100px;
}

#about-me{
	font-size: 20px;
	display: block;
	line-height: 2;
}

#skills-side-bar {
	display: inline;
}

.primary, strong, h2 {
	color: $primary-color;
}

.container-main {
	background: #fff;
	margin-top: 30px;
	padding: 10px 30px 30px 30px;
}

div.project-box{
	max-width: 200px;
	max-height: 90px;
	background-color: $primary-color;
	color: #fff;
	font-weight: bold;
	text-align: center;
	padding: 30px;

	a{
		text-decoration: none;
		color: #fff;
	}
}

header {
	min-height: 100px;
	overflow: auto;
}

header h1 {
	margin: 0;
	padding: 20px 0 0 0;
	font-size: 2.2em;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: -1px;
	text-align: center;
	line-height: 1.4em;
}

.row {
	margin-bottom: 30px;
}

.profile-img {
	width: 280px;
	height: 200px;
	border-radius: 50%;
	display: block;
	margin: auto;
	margin-top: -80px; /*pulls image UP and OUT of header */
}

.line {
	max-width: 100%; /* sets line to 100% of the width of its parent element */
}

.contact-list {
	padding: 0;
	margin: 0;
}

.contact-list li {
	list-style: none;
	font-weight: bold;
	line-height: 3.2em;
}

.contact-list span {
	display: block; /* puts element in its own line */
	margin: 0;
	padding: 0;
	line-height: 0.1em;
	margin-left: 37px;
	font-size: 15px;
	color: #ccc;
}

.media {
	background: $background-color;
	padding: 10px;
}

.work-list li {
	list-style: none;
	float: left;
	margin-bottom: 25px;
	min-width: 200px; /*YES! I GOT IT TO DO WHAT I WANTED*/
	min-height: 90px;
	background-color: $primary-color;
	color: #fff;
	font-weight: bold;
	text-align: center;
	padding: 30px;
	margin-right: 10px;
	display: block;
	// overflow: hidden;


	a{
		text-decoration: none;
		color: #fff;
	}
}

footer {
	background: $primary-color;
	color: #fff;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}
